# Python packages needed by the notebooks:
astroquery
pandas
seaborn
sklearn
astropy
corner
daft
# Warning: this does not build at mybinder.org:
treecorr

# Standard packages you probably don't need to install:
# StringIO
# copy
# IPython
# __future__
# numpy
# scipy
# os
# urllib
# yaml
# random
# csv
# matplotlib
# pylab
