# Custom packages needed by the notebooks:
mechanize
pandas
seaborn
sklearn
astropy
corner
daft

# Does not build at mybinder.org:
# treecorr

# Standard packages we don't need to install:
# StringIO
# copy
# matplotlib
# IPython
# __future__
# numpy
# os
# pylab
# scipy
# urllib
# yaml
# random
# csv
