# Python packages needed by the notebooks:
numpy
statsmodels
matplotlib
pandas
scipy
corner
astroquery
seaborn
sklearn
astropy
daft
# Warning: this does not build at mybinder.org:
# treecorr

# Standard packages you probably don't need to install:
# StringIO
# copy
# IPython
# __future__
# numpy
# scipy
# os
# urllib
# yaml
# random
# csv
# matplotlib
# pylab
